.btn {
  @apply inline-flex items-center justify-center p-2 text-sm font-semibold transition duration-200 border rounded-md shadow-md cursor-pointer;
}

.btn-sm {
  @apply p-1;
}

.btn-lg {
  @apply p-3;
}

.btn-primary {
  @apply text-purple-200 bg-purple-500 border-purple-500;
}

.btn-secondary {
  @apply text-gray-200 bg-gray-500 border-gray-500;
}

.btn-success {
  @apply text-green-200 bg-green-500 border-green-500;
}

.btn-warning {
  @apply text-orange-200 bg-orange-500 border-orange-500;
}

.btn-danger {
  @apply text-red-200 bg-red-500 border-red-500;
}

.btn-dark {
  @apply text-gray-400 bg-gray-800 border-gray-800;
}

.btn-outline-primary {
  @apply text-purple-500 bg-transparent border-purple-500;
}

.btn-outline-secondary {
  @apply text-gray-500 bg-transparent border-gray-500;
}

.btn-outline-success {
  @apply text-green-500 bg-transparent border-green-500;
}

.btn-outline-warning {
  @apply text-orange-500 bg-transparent border-orange-500;
}

.btn-outline-danger {
  @apply text-red-500 bg-transparent border-red-500;
}

.btn-outline-dark {
  @apply text-gray-800 bg-transparent border-gray-800;
}

.btn-primary:focus,
.btn-outline-primary:focus {
  @apply shadow-outline-purple;
}

.btn-secondary:focus,
.btn-outline-secondary:focus {
  @apply shadow-outline-gray;
}

.btn-success:focus,
.btn-outline-success:focus {
  @apply shadow-outline-green;
}

.btn-warning:focus,
.btn-outline-warning:focus {
  @apply shadow-outline-orange;
}

.btn-danger:focus,
.btn-outline-danger:focus {
  @apply shadow-outline-red;
}

.btn-dark:focus,
.btn-outline-dark:focus {
  @apply shadow-outline-blue;
}

.btn-facebook,
.btn-twitter,
.btn-instagram,
.btn-linkedin {
  @apply text-white;
}

.btn-facebook {
  border: #3b5998 !important;
  background-color: #3b5998 !important;
}

.btn-twitter {
  border: #49b3f4 !important;
  background-color: #49b3f4 !important;
}

.btn-instagram {
  @apply border-pink-400 bg-gradient-to-r from-purple-400 via-pink-500 to-red-500;
}

.btn-linkedin {
  border: #0077b5 !important;
  background-color: #0077b5 !important;
}

.btn-facebook:focus,
.btn-twitter:focus,
.btn-instagram:focus,
.btn-linkedin:focus {
  @apply shadow-outline-blue;
}
