/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind base;

/**
   * This injects Tailwind's component classes and any component classes
   * registered by plugins.
   */
@tailwind components;

/**
   * This injects Tailwind's utility classes and any utility classes registered
   * by plugins.
   */
@tailwind utilities;

@-webkit-keyframes intro-x-animation {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes intro-x-animation {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes intro-y-animation {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes intro-y-animation {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounce-x {
  0%,
  100% {
    transform: translateX(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@layer components {
  .animate-bounce-x {
    animation: bounce-x 1s infinite;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: bounce-x;
  }

  * > .intro-x:first-child {
    transform: translateX(50px);
  }
  * > .-intro-x:first-child,
  * > .intro-x:first-child {
    z-index: 49;
    opacity: 0;
    position: relative;
    -webkit-animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }
  * > .-intro-x:first-child {
    transform: translateX(-50px);
  }
  * > .intro-y:first-child {
    z-index: 49;
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    -webkit-animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }
  * > .intro-x:nth-child(2) {
    transform: translateX(50px);
  }
  * > .-intro-x:nth-child(2),
  * > .intro-x:nth-child(2) {
    z-index: 48;
    opacity: 0;
    position: relative;
    -webkit-animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
  * > .-intro-x:nth-child(2) {
    transform: translateX(-50px);
  }
  * > .intro-y:nth-child(2) {
    z-index: 48;
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    -webkit-animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
  * > .intro-x:nth-child(3) {
    transform: translateX(50px);
  }
  * > .-intro-x:nth-child(3),
  * > .intro-x:nth-child(3) {
    z-index: 47;
    opacity: 0;
    position: relative;
    -webkit-animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }
  * > .-intro-x:nth-child(3) {
    transform: translateX(-50px);
  }
  * > .intro-y:nth-child(3) {
    z-index: 47;
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    -webkit-animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }
  * > .intro-x:nth-child(4) {
    transform: translateX(50px);
  }
  * > .-intro-x:nth-child(4),
  * > .intro-x:nth-child(4) {
    z-index: 46;
    opacity: 0;
    position: relative;
    -webkit-animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  * > .-intro-x:nth-child(4) {
    transform: translateX(-50px);
  }
  * > .intro-y:nth-child(4) {
    z-index: 46;
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    -webkit-animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  * > .intro-x:nth-child(5) {
    transform: translateX(50px);
  }
  * > .-intro-x:nth-child(5),
  * > .intro-x:nth-child(5) {
    z-index: 45;
    opacity: 0;
    position: relative;
    -webkit-animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }
  * > .-intro-x:nth-child(5) {
    transform: translateX(-50px);
  }
  * > .intro-y:nth-child(5) {
    z-index: 45;
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    -webkit-animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }
  * > .intro-x:nth-child(6) {
    transform: translateX(50px);
  }
  * > .-intro-x:nth-child(6),
  * > .intro-x:nth-child(6) {
    z-index: 44;
    opacity: 0;
    position: relative;
    -webkit-animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  * > .-intro-x:nth-child(6) {
    transform: translateX(-50px);
  }
  * > .intro-y:nth-child(6) {
    z-index: 44;
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    -webkit-animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  * > .intro-x:nth-child(7) {
    transform: translateX(50px);
  }
  * > .-intro-x:nth-child(7),
  * > .intro-x:nth-child(7) {
    z-index: 43;
    opacity: 0;
    position: relative;
    -webkit-animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
  }
  * > .-intro-x:nth-child(7) {
    transform: translateX(-50px);
  }
  * > .intro-y:nth-child(7) {
    z-index: 43;
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    -webkit-animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
  }
  * > .intro-x:nth-child(8) {
    transform: translateX(50px);
  }
  * > .-intro-x:nth-child(8),
  * > .intro-x:nth-child(8) {
    z-index: 42;
    opacity: 0;
    position: relative;
    -webkit-animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }
  * > .-intro-x:nth-child(8) {
    transform: translateX(-50px);
  }
  * > .intro-y:nth-child(8) {
    z-index: 42;
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    -webkit-animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }
  * > .intro-x:nth-child(9) {
    transform: translateX(50px);
  }
  * > .-intro-x:nth-child(9),
  * > .intro-x:nth-child(9) {
    z-index: 41;
    opacity: 0;
    position: relative;
    -webkit-animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
  }
  * > .-intro-x:nth-child(9) {
    transform: translateX(-50px);
  }
  * > .intro-y:nth-child(9) {
    z-index: 41;
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    -webkit-animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
  }
  * > .intro-x:nth-child(10) {
    transform: translateX(50px);
  }
  * > .-intro-x:nth-child(10),
  * > .intro-x:nth-child(10) {
    z-index: 40;
    opacity: 0;
    position: relative;
    -webkit-animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }
  * > .-intro-x:nth-child(10) {
    transform: translateX(-50px);
  }
  * > .intro-y:nth-child(10) {
    z-index: 40;
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    -webkit-animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }
  * > .intro-x:nth-child(11) {
    transform: translateX(50px);
  }
  * > .-intro-x:nth-child(11),
  * > .intro-x:nth-child(11) {
    z-index: 39;
    opacity: 0;
    position: relative;
    -webkit-animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s;
  }
  * > .-intro-x:nth-child(11) {
    transform: translateX(-50px);
  }
  * > .intro-y:nth-child(11) {
    z-index: 39;
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    -webkit-animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s;
  }
  * > .intro-x:nth-child(12) {
    transform: translateX(50px);
  }
  * > .-intro-x:nth-child(12),
  * > .intro-x:nth-child(12) {
    z-index: 38;
    opacity: 0;
    position: relative;
    -webkit-animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
  }
  * > .-intro-x:nth-child(12) {
    transform: translateX(-50px);
  }
  * > .intro-y:nth-child(12) {
    z-index: 38;
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    -webkit-animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
  }
  * > .intro-x:nth-child(13) {
    transform: translateX(50px);
  }
  * > .-intro-x:nth-child(13),
  * > .intro-x:nth-child(13) {
    z-index: 37;
    opacity: 0;
    position: relative;
    -webkit-animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 1.3s;
    animation-delay: 1.3s;
  }
  * > .-intro-x:nth-child(13) {
    transform: translateX(-50px);
  }
  * > .intro-y:nth-child(13) {
    z-index: 37;
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    -webkit-animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 1.3s;
    animation-delay: 1.3s;
  }
  * > .intro-x:nth-child(14) {
    transform: translateX(50px);
  }
  * > .-intro-x:nth-child(14),
  * > .intro-x:nth-child(14) {
    z-index: 36;
    opacity: 0;
    position: relative;
    -webkit-animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
  }
  * > .-intro-x:nth-child(14) {
    transform: translateX(-50px);
  }
  * > .intro-y:nth-child(14) {
    z-index: 36;
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    -webkit-animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
  }
  * > .intro-x:nth-child(15) {
    transform: translateX(50px);
  }
  * > .-intro-x:nth-child(15),
  * > .intro-x:nth-child(15) {
    z-index: 35;
    opacity: 0;
    position: relative;
    -webkit-animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
  }
  * > .-intro-x:nth-child(15) {
    transform: translateX(-50px);
  }
  * > .intro-y:nth-child(15) {
    z-index: 35;
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    -webkit-animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
  }
  * > .intro-x:nth-child(16) {
    transform: translateX(50px);
  }
  * > .-intro-x:nth-child(16),
  * > .intro-x:nth-child(16) {
    z-index: 34;
    opacity: 0;
    position: relative;
    -webkit-animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
  }
  * > .-intro-x:nth-child(16) {
    transform: translateX(-50px);
  }
  * > .intro-y:nth-child(16) {
    z-index: 34;
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    -webkit-animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
  }
  * > .intro-x:nth-child(17) {
    transform: translateX(50px);
  }
  * > .-intro-x:nth-child(17),
  * > .intro-x:nth-child(17) {
    z-index: 33;
    opacity: 0;
    position: relative;
    -webkit-animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 1.7s;
    animation-delay: 1.7s;
  }
  * > .-intro-x:nth-child(17) {
    transform: translateX(-50px);
  }
  * > .intro-y:nth-child(17) {
    z-index: 33;
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    -webkit-animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 1.7s;
    animation-delay: 1.7s;
  }
  * > .intro-x:nth-child(18) {
    transform: translateX(50px);
  }
  * > .-intro-x:nth-child(18),
  * > .intro-x:nth-child(18) {
    z-index: 32;
    opacity: 0;
    position: relative;
    -webkit-animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s;
  }
  * > .-intro-x:nth-child(18) {
    transform: translateX(-50px);
  }
  * > .intro-y:nth-child(18) {
    z-index: 32;
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    -webkit-animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s;
  }
  * > .intro-x:nth-child(19) {
    transform: translateX(50px);
  }
  * > .-intro-x:nth-child(19),
  * > .intro-x:nth-child(19) {
    z-index: 31;
    opacity: 0;
    position: relative;
    -webkit-animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 1.9s;
    animation-delay: 1.9s;
  }
  * > .-intro-x:nth-child(19) {
    transform: translateX(-50px);
  }
  * > .intro-y:nth-child(19) {
    z-index: 31;
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    -webkit-animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 1.9s;
    animation-delay: 1.9s;
  }
  * > .intro-x:nth-child(20) {
    transform: translateX(50px);
  }
  * > .-intro-x:nth-child(20),
  * > .intro-x:nth-child(20) {
    z-index: 30;
    opacity: 0;
    position: relative;
    -webkit-animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }
  * > .-intro-x:nth-child(20) {
    transform: translateX(-50px);
  }
  * > .intro-y:nth-child(20) {
    z-index: 30;
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    -webkit-animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }
  * > .intro-x:nth-child(21) {
    transform: translateX(50px);
  }
  * > .-intro-x:nth-child(21),
  * > .intro-x:nth-child(21) {
    z-index: 29;
    opacity: 0;
    position: relative;
    -webkit-animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s;
  }
  * > .-intro-x:nth-child(21) {
    transform: translateX(-50px);
  }
  * > .intro-y:nth-child(21) {
    z-index: 29;
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    -webkit-animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s;
  }
  * > .intro-x:nth-child(22) {
    transform: translateX(50px);
  }
  * > .-intro-x:nth-child(22),
  * > .intro-x:nth-child(22) {
    z-index: 28;
    opacity: 0;
    position: relative;
    -webkit-animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 2.2s;
    animation-delay: 2.2s;
  }
  * > .-intro-x:nth-child(22) {
    transform: translateX(-50px);
  }
  * > .intro-y:nth-child(22) {
    z-index: 28;
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    -webkit-animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 2.2s;
    animation-delay: 2.2s;
  }
  * > .intro-x:nth-child(23) {
    transform: translateX(50px);
  }
  * > .-intro-x:nth-child(23),
  * > .intro-x:nth-child(23) {
    z-index: 27;
    opacity: 0;
    position: relative;
    -webkit-animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 2.3s;
    animation-delay: 2.3s;
  }
  * > .-intro-x:nth-child(23) {
    transform: translateX(-50px);
  }
  * > .intro-y:nth-child(23) {
    z-index: 27;
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    -webkit-animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 2.3s;
    animation-delay: 2.3s;
  }
  * > .intro-x:nth-child(24) {
    transform: translateX(50px);
  }
  * > .-intro-x:nth-child(24),
  * > .intro-x:nth-child(24) {
    z-index: 26;
    opacity: 0;
    position: relative;
    -webkit-animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 2.4s;
    animation-delay: 2.4s;
  }
  * > .-intro-x:nth-child(24) {
    transform: translateX(-50px);
  }
  * > .intro-y:nth-child(24) {
    z-index: 26;
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    -webkit-animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 2.4s;
    animation-delay: 2.4s;
  }
  * > .intro-x:nth-child(25) {
    transform: translateX(50px);
  }
  * > .-intro-x:nth-child(25),
  * > .intro-x:nth-child(25) {
    z-index: 25;
    opacity: 0;
    position: relative;
    -webkit-animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
  }
  * > .-intro-x:nth-child(25) {
    transform: translateX(-50px);
  }
  * > .intro-y:nth-child(25) {
    z-index: 25;
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    -webkit-animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
  }
  * > .intro-x:nth-child(26) {
    transform: translateX(50px);
  }
  * > .-intro-x:nth-child(26),
  * > .intro-x:nth-child(26) {
    z-index: 24;
    opacity: 0;
    position: relative;
    -webkit-animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 2.6s;
    animation-delay: 2.6s;
  }
  * > .-intro-x:nth-child(26) {
    transform: translateX(-50px);
  }
  * > .intro-y:nth-child(26) {
    z-index: 24;
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    -webkit-animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 2.6s;
    animation-delay: 2.6s;
  }
  * > .intro-x:nth-child(27) {
    transform: translateX(50px);
  }
  * > .-intro-x:nth-child(27),
  * > .intro-x:nth-child(27) {
    z-index: 23;
    opacity: 0;
    position: relative;
    -webkit-animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 2.7s;
    animation-delay: 2.7s;
  }
  * > .-intro-x:nth-child(27) {
    transform: translateX(-50px);
  }
  * > .intro-y:nth-child(27) {
    z-index: 23;
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    -webkit-animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 2.7s;
    animation-delay: 2.7s;
  }
  * > .intro-x:nth-child(28) {
    transform: translateX(50px);
  }
  * > .-intro-x:nth-child(28),
  * > .intro-x:nth-child(28) {
    z-index: 22;
    opacity: 0;
    position: relative;
    -webkit-animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 2.8s;
    animation-delay: 2.8s;
  }
  * > .-intro-x:nth-child(28) {
    transform: translateX(-50px);
  }
  * > .intro-y:nth-child(28) {
    z-index: 22;
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    -webkit-animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 2.8s;
    animation-delay: 2.8s;
  }
  * > .intro-x:nth-child(29) {
    transform: translateX(50px);
  }
  * > .-intro-x:nth-child(29),
  * > .intro-x:nth-child(29) {
    z-index: 21;
    opacity: 0;
    position: relative;
    -webkit-animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 2.9s;
    animation-delay: 2.9s;
  }
  * > .-intro-x:nth-child(29) {
    transform: translateX(-50px);
  }
  * > .intro-y:nth-child(29) {
    z-index: 21;
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    -webkit-animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 2.9s;
    animation-delay: 2.9s;
  }
  * > .intro-x:nth-child(30) {
    transform: translateX(50px);
  }
  * > .-intro-x:nth-child(30),
  * > .intro-x:nth-child(30) {
    z-index: 20;
    opacity: 0;
    position: relative;
    -webkit-animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
  }
  * > .-intro-x:nth-child(30) {
    transform: translateX(-50px);
  }
  * > .intro-y:nth-child(30) {
    z-index: 20;
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    -webkit-animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
  }
  * > .intro-x:nth-child(31) {
    transform: translateX(50px);
  }
  * > .-intro-x:nth-child(31),
  * > .intro-x:nth-child(31) {
    z-index: 19;
    opacity: 0;
    position: relative;
    -webkit-animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 3.1s;
    animation-delay: 3.1s;
  }
  * > .-intro-x:nth-child(31) {
    transform: translateX(-50px);
  }
  * > .intro-y:nth-child(31) {
    z-index: 19;
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    -webkit-animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 3.1s;
    animation-delay: 3.1s;
  }
  * > .intro-x:nth-child(32) {
    transform: translateX(50px);
  }
  * > .-intro-x:nth-child(32),
  * > .intro-x:nth-child(32) {
    z-index: 18;
    opacity: 0;
    position: relative;
    -webkit-animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 3.2s;
    animation-delay: 3.2s;
  }
  * > .-intro-x:nth-child(32) {
    transform: translateX(-50px);
  }
  * > .intro-y:nth-child(32) {
    z-index: 18;
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    -webkit-animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 3.2s;
    animation-delay: 3.2s;
  }
  * > .intro-x:nth-child(33) {
    transform: translateX(50px);
  }
  * > .-intro-x:nth-child(33),
  * > .intro-x:nth-child(33) {
    z-index: 17;
    opacity: 0;
    position: relative;
    -webkit-animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 3.3s;
    animation-delay: 3.3s;
  }
  * > .-intro-x:nth-child(33) {
    transform: translateX(-50px);
  }
  * > .intro-y:nth-child(33) {
    z-index: 17;
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    -webkit-animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 3.3s;
    animation-delay: 3.3s;
  }
  * > .intro-x:nth-child(34) {
    transform: translateX(50px);
  }
  * > .-intro-x:nth-child(34),
  * > .intro-x:nth-child(34) {
    z-index: 16;
    opacity: 0;
    position: relative;
    -webkit-animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 3.4s;
    animation-delay: 3.4s;
  }
  * > .-intro-x:nth-child(34) {
    transform: translateX(-50px);
  }
  * > .intro-y:nth-child(34) {
    z-index: 16;
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    -webkit-animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 3.4s;
    animation-delay: 3.4s;
  }
  * > .intro-x:nth-child(35) {
    transform: translateX(50px);
  }
  * > .-intro-x:nth-child(35),
  * > .intro-x:nth-child(35) {
    z-index: 15;
    opacity: 0;
    position: relative;
    -webkit-animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 3.5s;
    animation-delay: 3.5s;
  }
  * > .-intro-x:nth-child(35) {
    transform: translateX(-50px);
  }
  * > .intro-y:nth-child(35) {
    z-index: 15;
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    -webkit-animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 3.5s;
    animation-delay: 3.5s;
  }
  * > .intro-x:nth-child(36) {
    transform: translateX(50px);
  }
  * > .-intro-x:nth-child(36),
  * > .intro-x:nth-child(36) {
    z-index: 14;
    opacity: 0;
    position: relative;
    -webkit-animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 3.6s;
    animation-delay: 3.6s;
  }
  * > .-intro-x:nth-child(36) {
    transform: translateX(-50px);
  }
  * > .intro-y:nth-child(36) {
    z-index: 14;
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    -webkit-animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 3.6s;
    animation-delay: 3.6s;
  }
  * > .intro-x:nth-child(37) {
    transform: translateX(50px);
  }
  * > .-intro-x:nth-child(37),
  * > .intro-x:nth-child(37) {
    z-index: 13;
    opacity: 0;
    position: relative;
    -webkit-animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 3.7s;
    animation-delay: 3.7s;
  }
  * > .-intro-x:nth-child(37) {
    transform: translateX(-50px);
  }
  * > .intro-y:nth-child(37) {
    z-index: 13;
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    -webkit-animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 3.7s;
    animation-delay: 3.7s;
  }
  * > .intro-x:nth-child(38) {
    transform: translateX(50px);
  }
  * > .-intro-x:nth-child(38),
  * > .intro-x:nth-child(38) {
    z-index: 12;
    opacity: 0;
    position: relative;
    -webkit-animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 3.8s;
    animation-delay: 3.8s;
  }
  * > .-intro-x:nth-child(38) {
    transform: translateX(-50px);
  }
  * > .intro-y:nth-child(38) {
    z-index: 12;
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    -webkit-animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 3.8s;
    animation-delay: 3.8s;
  }
  * > .intro-x:nth-child(39) {
    transform: translateX(50px);
  }
  * > .-intro-x:nth-child(39),
  * > .intro-x:nth-child(39) {
    z-index: 11;
    opacity: 0;
    position: relative;
    -webkit-animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 3.9s;
    animation-delay: 3.9s;
  }
  * > .-intro-x:nth-child(39) {
    transform: translateX(-50px);
  }
  * > .intro-y:nth-child(39) {
    z-index: 11;
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    -webkit-animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 3.9s;
    animation-delay: 3.9s;
  }
  * > .intro-x:nth-child(40) {
    transform: translateX(50px);
  }
  * > .-intro-x:nth-child(40),
  * > .intro-x:nth-child(40) {
    z-index: 10;
    opacity: 0;
    position: relative;
    -webkit-animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
  }
  * > .-intro-x:nth-child(40) {
    transform: translateX(-50px);
  }
  * > .intro-y:nth-child(40) {
    z-index: 10;
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    -webkit-animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
  }
  * > .intro-x:nth-child(41) {
    transform: translateX(50px);
  }
  * > .-intro-x:nth-child(41),
  * > .intro-x:nth-child(41) {
    z-index: 9;
    opacity: 0;
    position: relative;
    -webkit-animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 4.1s;
    animation-delay: 4.1s;
  }
  * > .-intro-x:nth-child(41) {
    transform: translateX(-50px);
  }
  * > .intro-y:nth-child(41) {
    z-index: 9;
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    -webkit-animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 4.1s;
    animation-delay: 4.1s;
  }
  * > .intro-x:nth-child(42) {
    transform: translateX(50px);
  }
  * > .-intro-x:nth-child(42),
  * > .intro-x:nth-child(42) {
    z-index: 8;
    opacity: 0;
    position: relative;
    -webkit-animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 4.2s;
    animation-delay: 4.2s;
  }
  * > .-intro-x:nth-child(42) {
    transform: translateX(-50px);
  }
  * > .intro-y:nth-child(42) {
    z-index: 8;
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    -webkit-animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 4.2s;
    animation-delay: 4.2s;
  }
  * > .intro-x:nth-child(43) {
    transform: translateX(50px);
  }
  * > .-intro-x:nth-child(43),
  * > .intro-x:nth-child(43) {
    z-index: 7;
    opacity: 0;
    position: relative;
    -webkit-animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 4.3s;
    animation-delay: 4.3s;
  }
  * > .-intro-x:nth-child(43) {
    transform: translateX(-50px);
  }
  * > .intro-y:nth-child(43) {
    z-index: 7;
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    -webkit-animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 4.3s;
    animation-delay: 4.3s;
  }
  * > .intro-x:nth-child(44) {
    transform: translateX(50px);
  }
  * > .-intro-x:nth-child(44),
  * > .intro-x:nth-child(44) {
    z-index: 6;
    opacity: 0;
    position: relative;
    -webkit-animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 4.4s;
    animation-delay: 4.4s;
  }
  * > .-intro-x:nth-child(44) {
    transform: translateX(-50px);
  }
  * > .intro-y:nth-child(44) {
    z-index: 6;
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    -webkit-animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 4.4s;
    animation-delay: 4.4s;
  }
  * > .intro-x:nth-child(45) {
    transform: translateX(50px);
  }
  * > .-intro-x:nth-child(45),
  * > .intro-x:nth-child(45) {
    z-index: 5;
    opacity: 0;
    position: relative;
    -webkit-animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 4.5s;
    animation-delay: 4.5s;
  }
  * > .-intro-x:nth-child(45) {
    transform: translateX(-50px);
  }
  * > .intro-y:nth-child(45) {
    z-index: 5;
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    -webkit-animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 4.5s;
    animation-delay: 4.5s;
  }
  * > .intro-x:nth-child(46) {
    transform: translateX(50px);
  }
  * > .-intro-x:nth-child(46),
  * > .intro-x:nth-child(46) {
    z-index: 4;
    opacity: 0;
    position: relative;
    -webkit-animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 4.6s;
    animation-delay: 4.6s;
  }
  * > .-intro-x:nth-child(46) {
    transform: translateX(-50px);
  }
  * > .intro-y:nth-child(46) {
    z-index: 4;
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    -webkit-animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 4.6s;
    animation-delay: 4.6s;
  }
  * > .intro-x:nth-child(47) {
    transform: translateX(50px);
  }
  * > .-intro-x:nth-child(47),
  * > .intro-x:nth-child(47) {
    z-index: 3;
    opacity: 0;
    position: relative;
    -webkit-animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 4.7s;
    animation-delay: 4.7s;
  }
  * > .-intro-x:nth-child(47) {
    transform: translateX(-50px);
  }
  * > .intro-y:nth-child(47) {
    z-index: 3;
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    -webkit-animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 4.7s;
    animation-delay: 4.7s;
  }
  * > .intro-x:nth-child(48) {
    transform: translateX(50px);
  }
  * > .-intro-x:nth-child(48),
  * > .intro-x:nth-child(48) {
    z-index: 2;
    opacity: 0;
    position: relative;
    -webkit-animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 4.8s;
    animation-delay: 4.8s;
  }
  * > .-intro-x:nth-child(48) {
    transform: translateX(-50px);
  }
  * > .intro-y:nth-child(48) {
    z-index: 2;
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    -webkit-animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 4.8s;
    animation-delay: 4.8s;
  }
  * > .intro-x:nth-child(49) {
    transform: translateX(50px);
  }
  * > .-intro-x:nth-child(49),
  * > .intro-x:nth-child(49) {
    z-index: 1;
    opacity: 0;
    position: relative;
    -webkit-animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 4.9s;
    animation-delay: 4.9s;
  }
  * > .-intro-x:nth-child(49) {
    transform: translateX(-50px);
  }
  * > .intro-y:nth-child(49) {
    z-index: 1;
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    -webkit-animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 4.9s;
    animation-delay: 4.9s;
  }
  * > .intro-x:nth-child(50) {
    transform: translateX(50px);
  }
  * > .-intro-x:nth-child(50),
  * > .intro-x:nth-child(50) {
    z-index: 0;
    opacity: 0;
    position: relative;
    -webkit-animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    animation: intro-x-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
  }
  * > .-intro-x:nth-child(50) {
    transform: translateX(-50px);
  }
  * > .intro-y:nth-child(50) {
    z-index: 0;
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    -webkit-animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    animation: intro-y-animation 0.4s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
  }

  /*
    * Sidebar
    * ================================================================================
    */

  .sidebar {
    @apply relative flex-shrink-0 w-64 h-full overflow-x-hidden overflow-y-auto transition-all duration-200 ease-out;
  }

  .sidebar {
    @apply bg-gradient-to-b from-purple-700 via-purple-600 to-purple-800;
  }

  .theme-dark .sidebar {
    @apply bg-gradient-to-b from-cool-gray-700 via-cool-gray-600 to-cool-gray-800;
  }

  .mini-sidebar {
    @apply w-20;
  }

  .side-logo {
    @apply ml-3 text-3xl;
  }

  .side-menu-link {
    @apply flex flex-row items-center p-4 space-x-2 text-white transition rounded-xl hover:bg-purple-500;
  }

  .theme-dark .side-menu-link {
    @apply hover:bg-cool-gray-500;
  }

  .sidebar .dropdown-container {
    @apply w-full p-2 mt-2 space-y-2 overflow-hidden bg-purple-700 rounded-xl dark:bg-cool-gray-700;
  }

  .mini-sidebar .side-logo,
  .mini-sidebar .side-menu,
  .mini-sidebar .side-profile,
  .mini-sidebar .dropdown-icon {
    @apply hidden;
  }

  .sidebar-active {
    @apply bg-purple-500 dark:bg-cool-gray-500;
  }

  /*
    * General
    * ================================================================================
    */

  .box {
    @apply relative bg-white border-transparent rounded-md shadow-md;
  }

  .theme-dark .box {
    @apply bg-cool-gray-700;
  }

  .widget-box:before {
    content: "";
    background: white;
    box-shadow: 0 3px 20px rgb(0 0 0 / 4%);
    @apply absolute left-0 right-0 w-11/12 h-full mx-auto mt-3 rounded-md;
  }

  .theme-dark .widget-box:before {
    background: #2d3650 !important;
  }

  /*
    * Alert
    * ================================================================================
    */

  .alert {
    @apply relative p-3 rounded-md;
  }

  .alert-primary {
    @apply text-purple-200 bg-purple-500;
  }

  .alert-secondary {
    @apply text-gray-300 bg-gray-400;
  }

  .alert-success {
    @apply text-green-200 bg-green-500;
  }

  .alert-warning {
    @apply text-orange-200 bg-orange-400;
  }

  .alert-danger {
    @apply text-red-200 bg-red-500;
  }

  .alert-dark {
    @apply text-gray-500 bg-gray-700;
  }

  .alert-outline-primary {
    @apply text-purple-500 border border-purple-500;
  }

  .alert-outline-secondary {
    @apply text-gray-500 border border-gray-500;
  }

  .alert-outline-success {
    @apply text-green-500 border border-green-500;
  }

  .alert-outline-warning {
    @apply text-orange-500 border border-orange-500;
  }

  .alert-outline-danger {
    @apply text-red-500 border border-red-500;
  }

  .alert-outline-dark {
    @apply text-gray-800 border border-gray-800;
  }

  /*
    * Button
    * ================================================================================
    */

  .btn {
    @apply inline-flex items-center justify-center p-2 text-sm font-semibold transition duration-200 border rounded-md shadow-md cursor-pointer;
  }

  .btn-sm {
    @apply p-1;
  }

  .btn-lg {
    @apply p-3;
  }

  .btn-primary {
    @apply text-purple-200 bg-purple-500 border-purple-500;
  }

  .btn-secondary {
    @apply text-gray-200 bg-gray-500 border-gray-500;
  }

  .btn-success {
    @apply text-green-200 bg-green-500 border-green-500;
  }

  .btn-warning {
    @apply text-orange-200 bg-orange-500 border-orange-500;
  }

  .btn-danger {
    @apply text-red-200 bg-red-500 border-red-500;
  }

  .btn-dark {
    @apply text-gray-400 bg-gray-800 border-gray-800;
  }

  .btn-outline-primary {
    @apply text-purple-500 bg-transparent border-purple-500;
  }

  .btn-outline-secondary {
    @apply text-gray-500 bg-transparent border-gray-500;
  }

  .btn-outline-success {
    @apply text-green-500 bg-transparent border-green-500;
  }

  .btn-outline-warning {
    @apply text-orange-500 bg-transparent border-orange-500;
  }

  .btn-outline-danger {
    @apply text-red-500 bg-transparent border-red-500;
  }

  .btn-outline-dark {
    @apply text-gray-800 bg-transparent border-gray-800;
  }

  .btn-primary:focus,
  .btn-outline-primary:focus {
    @apply shadow-outline-purple;
  }

  .btn-secondary:focus,
  .btn-outline-secondary:focus {
    @apply shadow-outline-gray;
  }

  .btn-success:focus,
  .btn-outline-success:focus {
    @apply shadow-outline-green;
  }

  .btn-warning:focus,
  .btn-outline-warning:focus {
    @apply shadow-outline-orange;
  }

  .btn-danger:focus,
  .btn-outline-danger:focus {
    @apply shadow-outline-red;
  }

  .btn-dark:focus,
  .btn-outline-dark:focus {
    @apply shadow-outline-blue;
  }

  .btn-facebook,
  .btn-twitter,
  .btn-instagram,
  .btn-linkedin {
    @apply text-white;
  }

  .btn-facebook {
    border: #3b5998 !important;
    background-color: #3b5998 !important;
  }

  .btn-twitter {
    border: #49b3f4 !important;
    background-color: #49b3f4 !important;
  }

  .btn-instagram {
    @apply border-pink-400 bg-gradient-to-r from-purple-400 via-pink-500 to-red-500;
  }

  .btn-linkedin {
    border: #0077b5 !important;
    background-color: #0077b5 !important;
  }

  .btn-facebook:focus,
  .btn-twitter:focus,
  .btn-instagram:focus,
  .btn-linkedin:focus {
    @apply shadow-outline-blue;
  }

  /* form */
  .form-group {
    @apply flex flex-col;
  }

  .form-group > label {
    @apply mb-1 text-sm mr-auto;
  }

  .form-control {
    @apply rounded-md border py-2 px-3 text-gray-800;
  }

  .form-control:focus,
  .theme-dark .form-control:focus {
    @apply border-purple-500;
  }

  .theme-dark .form-control {
    @apply bg-cool-gray-800 border-cool-gray-600 text-gray-200;
  }

  .form-help {
    @apply text-xs mt-1;
  }
}
